body{
    font-family: 'PT Sans', sans-serif;
}
.pTool-outermost-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 60%;
}
.pTool-service-category-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.category-cube-container{
    width: 100%;
    display: flex;
    border: 0.12rem solid lightslategray;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.category-cube{
    height: 3rem;
    padding: 0.1%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 4rem;
    border: 0.12rem solid lightslategray;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
}
.pTool-selected-cube{
    border: 0.25rem solid lightslategray;
    border-radius: 10%;
}
.category-cube:hover{
    cursor: pointer;
    background-color: #E0E2E8;
}

.category-cube-text{
    margin: auto;
    font-size: 0.5rem;
    text-align: center;
}
.category-cube-icon{
    font-size: 1rem;
    margin: auto;
    margin-top: 0.5rem;
    color: #303133
}

.service-headers-outer-container{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #DD5962;
    display: flex;
}

.service-grid-container{
    margin-left: 3%;
    margin-right: 3%;
    height: 2rem;
}
.service-grid-container-focus{
    margin-left: 3%;
    margin-right: 3%;
}
.description-grid-container{
    margin-left: 2%;
    width: 70%;
}
.quantity-grid-container{
    margin-left: 1%;
    width: 10%;
}
.price-grid-container{
    margin-left: 0%; /* 10% */
    width: 0%; /* 10% */
}
.service-header{
    margin: 0;
    color: white;
}
.pTool-service-description-header{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.pTool-services-container{
    display: flex;
    flex-direction: column;
}
.pTool-service-container{
    display: flex;
    flex-direction: column;
}
.pTool-make-bg-light-blue{
    background-color:  #E0E2E8;
}

.pTool-service-col{
    display: flex;
    flex-direction: column;
}
.pTool-service-text{
    font-size: 0.75rem;
    margin: 0rem;
}
.pTool-service-text-name{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    text-decoration: underline;
}
.pTool-service-text-name-focus{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.75rem;
}
.pTool-quantity-input{
    height: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: auto;
    font-size: 2rem;
    width: 10%;
    text-align: right;
}
.pTool-service-text-large{
    margin: auto;
    margin-left: 0;
    font-size: 2rem;
}
.back-button{
    background-color: #DD5962;
    color: white;
    padding-left: 0.25rem;
}
.back-button:hover{
    cursor: pointer;
}

.pTool-service-text-description{
    margin-bottom: 0.5rem;
}

.pTool-total-inner-container{
    box-sizing: border-box;
    height: 5rem;
    margin-left: auto;
    width: 10rem;
    border: 0.12rem solid lightslategray;
    display: flex;
    flex-direction: column;
}
.pTool-totla-col{
    height: 100%;
    display: flex;
}
.content-centerer{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}
.pTool-total-text{
    margin: 0;
    width: 100%;
}
.display-none{
    display: none !important;
}
.flex-direction-row{
    flex-direction: row !important;
}
.margin-top-1{
    margin-top: 1rem !important;
}
.pTool-service-button-next{
    height: fit-content;
    padding: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    background-color:  #DD5962;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0;
    border-radius: 0.5rem;
}

.custum-svg-icon{
    min-width: 70%;
    min-height: 40%;
    max-width: 70%;
    max-height: 50%;
    margin-bottom: 0.12rem;
}
.pTool-focous-container{
    display: flex;
    flex-direction: column;
}
.pTool-Input{
    height: auto !important;
}

@media only screen and (max-width: 500px) {
    .pTool-total-inner-container {
      width: 100%;
      margin-top: 1rem;
    }
  }